.followUs_text {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

.socailMedia_icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.socailMedia_icon:hover {
    color: #FD7F2C;
    transition: all 0.2s ease-in-out;
}